fixtures/flow/golden/semantic/intermediate-representation.json
{
  "actionCount": 14,
  "artifactName": "Semantic Diagnostic Flow",
  "controlFlowEdgeCount": 0,
  "dynamicContentReferenceCount": 11,
  "expressionCount": 11,
  "nodeCount": 15,
  "nodes": [
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "action",
            "name": "MissingAction",
            "path": "definition.actions.ComposeBadAction.inputs"
          }
        ],
        "expressions": [
          {
            "expression": "body('MissingAction')",
            "path": "definition.actions.ComposeBadAction.inputs",
            "references": [
              {
                "kind": "action",
                "name": "MissingAction",
                "path": "definition.actions.ComposeBadAction.inputs"
              }
            ],
            "syntax": "expression"
          }
        ],
        "reads": [
          {
            "kind": "action",
            "name": "MissingAction",
            "path": "definition.actions.ComposeBadAction.inputs"
          }
        ],
        "writes": []
      },
      "id": "action:actions.ComposeBadAction",
      "kind": "action",
      "name": "ComposeBadAction",
      "path": "actions.ComposeBadAction",
      "runAfter": [],
      "type": "Compose",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": [
          "MissingStep"
        ]
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "parameter",
            "name": "MissingParam",
            "path": "definition.actions.ComposeBadParam.inputs"
          }
        ],
        "expressions": [
          {
            "expression": "parameters('MissingParam')",
            "path": "definition.actions.ComposeBadParam.inputs",
            "references": [
              {
                "kind": "parameter",
                "name": "MissingParam",
                "path": "definition.actions.ComposeBadParam.inputs"
              }
            ],
            "syntax": "expression"
          }
        ],
        "reads": [
          {
            "kind": "parameter",
            "name": "MissingParam",
            "path": "definition.actions.ComposeBadParam.inputs"
          }
        ],
        "writes": []
      },
      "id": "action:actions.ComposeBadParam",
      "kind": "action",
      "name": "ComposeBadParam",
      "path": "actions.ComposeBadParam",
      "runAfter": [
        "MissingStep"
      ],
      "type": "Compose",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "variable",
            "name": "MissingVariable",
            "path": "definition.actions.ComposeBadVariable.inputs"
          }
        ],
        "expressions": [
          {
            "expression": "variables('MissingVariable')",
            "path": "definition.actions.ComposeBadVariable.inputs",
            "references": [
              {
                "kind": "variable",
                "name": "MissingVariable",
                "path": "definition.actions.ComposeBadVariable.inputs"
              }
            ],
            "syntax": "expression"
          }
        ],
        "reads": [
          {
            "kind": "variable",
            "name": "MissingVariable",
            "path": "definition.actions.ComposeBadVariable.inputs"
          }
        ],
        "writes": []
      },
      "id": "action:actions.ComposeBadVariable",
      "kind": "action",
      "name": "ComposeBadVariable",
      "path": "actions.ComposeBadVariable",
      "runAfter": [],
      "type": "Compose",
      "variableUsage": {
        "initializes": [],
        "reads": [
          "MissingVariable"
        ],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "variable",
            "name": "Counter",
            "path": "definition.actions.ComposeTemplateSummary.inputs"
          },
          {
            "kind": "parameter",
            "name": "ApiBaseUrl",
            "path": "definition.actions.ComposeTemplateSummary.inputs"
          }
        ],
        "expressions": [
          {
            "expression": "variables('Counter')",
            "path": "definition.actions.ComposeTemplateSummary.inputs",
            "references": [
              {
                "kind": "variable",
                "name": "Counter",
                "path": "definition.actions.ComposeTemplateSummary.inputs"
              }
            ],
            "syntax": "template"
          },
          {
            "expression": "parameters('ApiBaseUrl')",
            "path": "definition.actions.ComposeTemplateSummary.inputs",
            "references": [
              {
                "kind": "parameter",
                "name": "ApiBaseUrl",
                "path": "definition.actions.ComposeTemplateSummary.inputs"
              }
            ],
            "syntax": "template"
          }
        ],
        "reads": [
          {
            "kind": "variable",
            "name": "Counter",
            "path": "definition.actions.ComposeTemplateSummary.inputs"
          },
          {
            "kind": "parameter",
            "name": "ApiBaseUrl",
            "path": "definition.actions.ComposeTemplateSummary.inputs"
          }
        ],
        "writes": []
      },
      "id": "action:actions.ComposeTemplateSummary",
      "kind": "action",
      "name": "ComposeTemplateSummary",
      "path": "actions.ComposeTemplateSummary",
      "runAfter": [],
      "type": "Compose",
      "variableUsage": {
        "initializes": [],
        "reads": [
          "Counter"
        ],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "connectionReference",
            "name": "shared_office365",
            "path": "definition.actions.ConnectorBadParameterShape.inputs.host.connection.name"
          }
        ],
        "expressions": [
          {
            "expression": "parameters('$connections')['shared_office365']['connectionId']",
            "path": "definition.actions.ConnectorBadParameterShape.inputs.host.connection.name",
            "references": [
              {
                "kind": "connectionReference",
                "name": "shared_office365",
                "path": "definition.actions.ConnectorBadParameterShape.inputs.host.connection.name"
              }
            ],
            "syntax": "expression"
          }
        ],
        "reads": [],
        "writes": []
      },
      "id": "action:actions.ConnectorBadParameterShape",
      "kind": "action",
      "name": "ConnectorBadParameterShape",
      "path": "actions.ConnectorBadParameterShape",
      "runAfter": [],
      "type": "OpenApiConnection",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "connectionReference",
            "name": "shared_office365",
            "path": "definition.actions.ConnectorMismatch.inputs.host.connection.name"
          }
        ],
        "expressions": [
          {
            "expression": "parameters('$connections')['shared_office365']['connectionId']",
            "path": "definition.actions.ConnectorMismatch.inputs.host.connection.name",
            "references": [
              {
                "kind": "connectionReference",
                "name": "shared_office365",
                "path": "definition.actions.ConnectorMismatch.inputs.host.connection.name"
              }
            ],
            "syntax": "expression"
          }
        ],
        "reads": [],
        "writes": []
      },
      "id": "action:actions.ConnectorMismatch",
      "kind": "action",
      "name": "ConnectorMismatch",
      "path": "actions.ConnectorMismatch",
      "runAfter": [],
      "type": "OpenApiConnection",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "connectionReference",
            "name": "shared_office365",
            "path": "definition.actions.ConnectorMissingParameters.inputs.host.connection.name"
          }
        ],
        "expressions": [
          {
            "expression": "parameters('$connections')['shared_office365']['connectionId']",
            "path": "definition.actions.ConnectorMissingParameters.inputs.host.connection.name",
            "references": [
              {
                "kind": "connectionReference",
                "name": "shared_office365",
                "path": "definition.actions.ConnectorMissingParameters.inputs.host.connection.name"
              }
            ],
            "syntax": "expression"
          }
        ],
        "reads": [],
        "writes": []
      },
      "id": "action:actions.ConnectorMissingParameters",
      "kind": "action",
      "name": "ConnectorMissingParameters",
      "path": "actions.ConnectorMissingParameters",
      "runAfter": [],
      "type": "OpenApiConnection",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [],
        "expressions": [],
        "reads": [],
        "writes": []
      },
      "id": "action:actions.ConnectorUnsupportedShape",
      "kind": "action",
      "name": "ConnectorUnsupportedShape",
      "path": "actions.ConnectorUnsupportedShape",
      "runAfter": [],
      "type": "OpenApiConnection",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [],
        "expressions": [],
        "reads": [],
        "writes": [
          {
            "name": "Counter",
            "operation": "initialize",
            "path": "definition.actions.InitCounter.inputs.variables.0.name"
          }
        ]
      },
      "id": "action:actions.InitCounter",
      "kind": "action",
      "name": "InitCounter",
      "path": "actions.InitCounter",
      "runAfter": [],
      "type": "InitializeVariable",
      "variableUsage": {
        "initializes": [
          "Counter"
        ],
        "reads": [],
        "writes": [
          "Counter"
        ]
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "environmentVariable",
            "name": "pp_ApiUrl",
            "path": "definition.actions.RetryHot.inputs"
          }
        ],
        "expressions": [
          {
            "expression": "environmentVariables('pp_ApiUrl')",
            "path": "definition.actions.RetryHot.inputs",
            "references": [
              {
                "kind": "environmentVariable",
                "name": "pp_ApiUrl",
                "path": "definition.actions.RetryHot.inputs"
              }
            ],
            "syntax": "expression"
          }
        ],
        "reads": [
          {
            "kind": "environmentVariable",
            "name": "pp_ApiUrl",
            "path": "definition.actions.RetryHot.inputs"
          }
        ],
        "writes": []
      },
      "id": "action:actions.RetryHot",
      "kind": "action",
      "name": "RetryHot",
      "path": "actions.RetryHot",
      "runAfter": [],
      "type": "Compose",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [
        "action:actions.ScopeA.actions.SetCounter"
      ],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [],
        "expressions": [],
        "reads": [],
        "writes": []
      },
      "id": "scope:actions.ScopeA",
      "kind": "scope",
      "name": "ScopeA",
      "path": "actions.ScopeA",
      "runAfter": [],
      "type": "Scope",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    },
    {
      "branch": "actions",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "variable",
            "name": "Counter",
            "path": "definition.actions.ScopeA.actions.SetCounter.inputs.value"
          }
        ],
        "expressions": [
          {
            "expression": "variables('Counter')",
            "path": "definition.actions.ScopeA.actions.SetCounter.inputs.value",
            "references": [
              {
                "kind": "variable",
                "name": "Counter",
                "path": "definition.actions.ScopeA.actions.SetCounter.inputs.value"
              }
            ],
            "syntax": "expression"
          }
        ],
        "reads": [
          {
            "kind": "variable",
            "name": "Counter",
            "path": "definition.actions.ScopeA.actions.SetCounter.inputs.value"
          }
        ],
        "writes": [
          {
            "name": "Counter",
            "operation": "set",
            "path": "definition.actions.ScopeA.actions.SetCounter.inputs.name"
          }
        ]
      },
      "id": "action:actions.ScopeA.actions.SetCounter",
      "kind": "action",
      "name": "SetCounter",
      "parentId": "scope:actions.ScopeA",
      "path": "actions.ScopeA.actions.SetCounter",
      "runAfter": [],
      "type": "SetVariable",
      "variableUsage": {
        "initializes": [],
        "reads": [
          "Counter"
        ],
        "writes": [
          "Counter"
        ]
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [
          {
            "kind": "connectionReference",
            "name": "shared_missing",
            "path": "definition.actions.SendMail.inputs.host.connection.name"
          }
        ],
        "expressions": [
          {
            "expression": "parameters('$connections')['shared_missing']['connectionId']",
            "path": "definition.actions.SendMail.inputs.host.connection.name",
            "references": [
              {
                "kind": "connectionReference",
                "name": "shared_missing",
                "path": "definition.actions.SendMail.inputs.host.connection.name"
              }
            ],
            "syntax": "expression"
          }
        ],
        "reads": [],
        "writes": []
      },
      "id": "action:actions.SendMail",
      "kind": "action",
      "name": "SendMail",
      "path": "actions.SendMail",
      "runAfter": [],
      "type": "OpenApiConnection",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [],
        "expressions": [],
        "reads": [],
        "writes": [
          {
            "name": "Ghost",
            "operation": "set",
            "path": "definition.actions.SetGhost.inputs.name"
          }
        ]
      },
      "id": "action:actions.SetGhost",
      "kind": "action",
      "name": "SetGhost",
      "path": "actions.SetGhost",
      "runAfter": [],
      "type": "SetVariable",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": [
          "Ghost"
        ]
      }
    },
    {
      "branch": "root",
      "childIds": [],
      "controlFlow": {
        "dependentIds": [],
        "dependsOn": [],
        "unresolvedDependsOn": []
      },
      "dataFlow": {
        "dynamicContentReferences": [],
        "expressions": [],
        "reads": [],
        "writes": []
      },
      "id": "trigger:triggers.Manual",
      "kind": "trigger",
      "name": "Manual",
      "path": "triggers.Manual",
      "runAfter": [],
      "type": "Request",
      "variableUsage": {
        "initializes": [],
        "reads": [],
        "writes": []
      }
    }
  ],
  "scopeCount": 1,
  "templateExpressionCount": 2,
  "triggerCount": 1,
  "variableReadCount": 3,
  "variableWriteCount": 3
}
